html, body {
    height: 100%;
    background: url('https://jaysonlangley.files.wordpress.com/2013/03/dungeons_and_dragons_wallpaper_by_xabian.jpg') no-repeat center center fixed;
    -webkit-background-size:
    cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ccc;

}

.panel {
    background-color: transparent;
}
.panel-trans > .panel-heading {
    color: #fff;
    background-color: #cc0000;
    border-color: #000;
}
.panel-trans > .panel-body {
    color: #ffffff;
    background-color: rgba(0,0,0,0.75);
    border-color: #000000;
}

.alert-danger {
    color : #000;
    background-color: rgba(255,0,0,1);
    border-color: #000000;
}
