<div class="col-md-12">
	<div id="error" class="row" ng-show="err">
		<div class="alert alert-danger text-center" role="alert"><i class="fa fa-warning"></i> {{ err }} <i class="fa fa-warning"></i></div>
	</div>
	<div id="results" class="row" ng-show="result">
		<div class="panel panel-trans">
			<div class="panel-heading text-center">Results</div>
			<div class="panel-body">
				<div class="col-sm-offset-3 col-sm-1 text-center">
					<strong>Attack</strong>
					<p id="attack">{{ attack }}</p>
				</div>
				<div class="col-sm-2 text-center">
					<strong>Damage</strong>
					<p id="damage">{{ damage }}</p>
				</div>
				<div class="col-sm-1 text-center">
					<strong>Armor</strong>
					<p id="armor">{{ armor }}</p>
				</div>
				<div class="col-sm-2 text-center">
					<strong>Attack of Opportunity</strong>
					<p id="aoo">{{ aoo }}</p>
				</div>
				<div class="col-sm-3">
					<strong>Special</strong>
					<p id="special"><span ng-bind-html="getSpecial()"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-7 text-center">
		<div class="panel panel-trans">
			<div class="panel-heading">Basic Stats for {{ fighter.name }}</div>
			<div class="panel-body">
				<div class="col-sm-6">
					<img src="sam2.png" class="img-responsive"/>
				</div>
				<div class="col-sm-6">
					<form class="form-horizontal">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<label class="col-xs-5 control-label">STR: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" id="str" ng-model="fighter.str">
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">DEX: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" ng-change="getAc()" id="dex" ng-model="fighter.dex">
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">CON: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" id="con" ng-model="fighter.con">
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label class="col-xs-5 control-label">BAB: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" id="bab" ng-model="fighter.bab">
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Armor: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" id="baseArmor" ng-change="getAc()" ng-model="fighter.armor">
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Dodge: </label>
									<div class="col-xs-7">
										<input type="number" class="form-control" id="dodge" ng-change="getAc()" ng-model="fighter.dodge">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- <div class="form-group">
								<label class="col-xs-5 text-right">Touch: </label>
								<div class="col-xs-7 text-left">
									{{touch}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-5 text-right">Flat Footed: </label>
								<div class="col-xs-7 text-left">
									{{ff}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-5 text-right">AC: </label>
								<div class="col-xs-7 text-left">
									{{armor}}
								</div>
							</div> -->
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Touch AC</th>
										<th class="text-center">Flat Footed AC</th>
										<th class="text-center">Full AC</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{touch}}</td>
										<td>{{ff}}</td>
										<td>{{armor}}</td>
									</tr>
								</tbody>
							</table>
							<table class="table">
								<thead>
									<tr>
										<th class="text-center">Max HP</th>
										<th class="text-center">Temp Max HP</th>
										<th class="text-center">Current HP</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{fighter.maxHP}}</td>
										<td>{{tempMax}}</td>
										<td>{{currentHP}}</td>
									</tr>
								</tbody>
							</table>
							<div class="col-lg-8">
								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-danger" ng-click="subHP()">-</button>
									</span>
									<input type="number" class="form-control" ng-model="modHP" placeholder="HP">
									<span class="input-group-btn">
										<button class="btn btn-success" ng-click="addHP()">+</button>
									</span>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5  text-center">
		<div class="panel panel-trans">
			<div class="panel-heading text-center">Round Information</div>
			<div class="panel-body">
				<div class="row form-group">
					<div class="form-inline">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input ng-model="ep" id="ep" ng-change="enlargePerson()" type="checkbox"> Enlarge Person&nbsp;&nbsp;
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input id="twoHanded" type="checkbox" ng-model="fighter.weapon.twoHanded"> Two Handed&nbsp;&nbsp;
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input id="masterwork" type="checkbox" ng-model="fighter.weapon.masterwork"> Masterwork&nbsp;&nbsp;
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="form-inline">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input id="charge" type="checkbox" ng-model="charge" ng-change="getAc()"> Charge&nbsp;&nbsp;
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input id="leap" type="checkbox" ng-model="leap"> Leap Attack&nbsp;&nbsp;
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input ng-model="mw" id="mw" ng-change="mightyWallop()" type="checkbox"> Greater Mighty Wallop&nbsp;&nbsp;
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="form-inline">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input ng-model="mog" type="checkbox"> Mogdin&nbsp;&nbsp;
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input ng-model="rg" id="rg" ng-change="rage()" type="checkbox" ng-disabled="fatigued"> <strong style="color:red;">RAGE</strong>
									<span ng-if="rg"> {{ rageRounds }} Rounds Remaining</span>&nbsp;&nbsp;
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-12">
						<div class="col-sm-4">
							<label for="damDie">Damage:</label>
							<select id="damDie" ng-model="fighter.weapon.damDie" class="form-control">
								<option>1d2</option>
								<option>1d3</option>
								<option>1d4</option>
								<option>1d6</option>
								<option>1d8</option>
								<option>1d10</option>
								<option>1d12</option>
								<option>2d4</option>
								<option>2d6</option>
								<option>2d8</option>
								<option>2d10</option>
								<option>3d6</option>
								<option>3d8</option>
								<option>4d6</option>
								<option>4d8</option>
								<option>6d6</option>
								<option>6d8</option>
								<option>8d6</option>
								<option>8d8</option>
								<option>12d8</option>
							</select>
						</div>

						<div class="col-sm-4">
							<label for="pa">Power Attack:</label>
							<input type="number" id="pa" ng-model="pa" class="form-control">
						</div>

						<div class="col-sm-4">
							<label for="en">Enhancement:</label>
							<input type="number" id="en" ng-model="fighter.weapon.enhancement" class="form-control">
						</div>
					</div>
				</div>



				<div class="row form-group">
					<div class="col-md-12">
						<div class="form-inline">
							<button id="calc" class="btn btn-primary" ng-click="calc()">Calculate</button>
							<button id="makeAoo" class="btn btn-warning" ng-show="result" ng-click="makeAoo()">Attack of Opportunity</button>
							<button id="end" class="btn btn-default" ng-show="result" ng-click="end()">End of Encounter</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
